#background {
    border: solid black;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    border-radius: 10px;
}

#background:hover{
    transform: scale(105%);
    background-color: #141414;

}

#FormTitle{
    color: white;
}

.ThoughtDetails{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: transparent;
}

.detailText {
    background-color: transparent;
    color: white;

}
